<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysomm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySomm">
        <activity android:name=".ChickenWineRecommendations"></activity>
        <activity android:name=".BeefWineRecommendations"/>
        <activity android:name=".FishWineRecommendations"/>
        <activity android:name=".StarchWineRecommendations"/>
        <activity android:name=".VegWineRecommendations"/>
        <activity android:name=".DessertWineRecommendations"/>
        <activity android:name=".CheeseWineRecommendations"/>
        <activity android:name=".ShellFishWineRecommendations"/>
        <activity android:name=".CuredMeatWineRecommendations"/>
        <activity android:name=".WineDishes" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>